::ng-deep {
  .pt {
    &-10 {
      padding-top: 6rem;
    }
  }

  .flex {
    display: flex;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .btn {
    min-height: 56px;
  }
  .cursor {
    &-pointer {
      cursor: pointer;
    }
  }

  .mat {
    &-mdc {
      &-dialog {
        &-surface {
          padding: 20px;
        }
      }
    }
  }
}
